#mathbody{
	background-image: url(edu.jpg);
	background-repeat: no-repeat;
	background-size:cover;
    background-attachment:fixed;
}

#logo{
	float:left;
}

#head{
	width:60%;
	margin: auto;
}

#mathh1{
	color:orange;
	text-align:center;
	font-size:135px;
	margin-top: 0px;
    margin-bottom: -40px;
    padding-bottom: 0px;
	font-family: Courier;
}

#mathh3{
	color:yellow;
	text-align: right;
	font-size:20px;
	margin-top:-15px;
	padding-top: 0px;
	margin-right: -80px 
}

#quote{
	width:40%;
	padding-left:350px;
}

#scroll{
	height: 100px;
	width:100%;
	padding-left:100px ;
	color:red;
	background-color:#00fbff;
}

#pure{
	float: left;
	background-color:yellow;
	color:#42ff03; 
	margin-top:-70px;
	padding:10px 15px;
	margin-left: 50px;
	margin-right: -90px;   
	background-image: url(pic.jpg)
}

#applied{
	float: right;
	background-color:violet;
	color:#42ff03;
	margin-top:-65px;
	padding:10px 15px;
	margin-right:20px;
	background-image: url(pic.jpg)
}

#linkcolor{
	color:#f00;
}

#definemath{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 13px monospace;
	width:605px;
	height: 500px; 
	padding-left:10px;
	border:5px outset red;
	margin-top: 10px;
	margin-left: 350px;
	padding: 5px 10px;
	color: green;
}

#fam{
	float: right;
	background-color:#5f61f2;
	color:pink; 
	margin-top:-175px;
	margin-right:20px;
	padding:10px 15px;
	padding-left: 50px;
	padding-right: 40px
}

#epo{
	float: right;
	background-color:#ff8f00;
	color:pink; 
	margin-top:-110px;
	margin-right:20px;
	padding:10px 15px;
	padding-left: 57px;
	padding-right: 50px
}

#seq{
	float: right;
	background-color:#ff00cb;
	color:pink; 
	margin-top:-40px;
	margin-right:20px;
	padding:5px ;
	padding-left: 60px;
	padding-right: 60px
}

#reg{
	float: left;
	background-color:yellow;
	color:red; 
	margin-top:-185px;
	padding:10px 15px;
	margin-left: 50px;
	padding-right: 100px;
	padding-left: 80px
}

#trig{
	float: left;
	background-color:#4bff19;
	color:red; 
	margin-top:-120px;
	padding:10px 15px;
	margin-left: 50px;
	padding-right: 50px;
	padding-left:40px
}

#famth{
	float: left;
	background-color:#00ffdb;
	color:red; 
	margin-top:-45px;
	padding:5px 15px;
	margin-left: 50px;
	padding-right: 35px;
	padding-left: 35px
}

#puremathbody{
	background-image: url(purem.jpg);
	background-repeat: no-repeat;
	background-size:cover; 
	background-attachment:fixed;
}

#puremathhead1{
	color:#621f1f; 
	background-color:#0cffaf;
	text-align:center;
	font-size:50px; 
	margin-left: 220px;
	margin-top: 0px;
	margin-right: 220px;  
	margin-bottom: -40px;
	padding-bottom: 0px;
	font-family:monospace;
}

#puremathnumber{
	text-align:justify; 
	background-color:#356433; 
	font:bold 12px monospace;
	width:870px;height: 290px; 
	border:3px outset #eb00ff;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: #a6ff06;
}

#puremathalgebra{
	text-align:justify; 
	background-color:#356433; 
	font:bold 12px monospace;
	width:885px;
	height: 290px; 
	padding-left:10px;
	border:3px outset #eb00ff;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color:#a6ff06 ;
}

#puremathgeometry{
	text-align:justify; 
	background-color:#356433; 
	font:bold 12px monospace;
	width:885px;
	height: 310px; 
	padding-left:10px;
	border:3px outset #eb00ff;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: #a6ff06;
}

#purematharithmetic{
	text-align:justify; 
	background-color:#356433; 
	font:bold 12px monospace;
	width:885px;
	height: 140px; 
	padding-left:10px;
	border:3px outset #eb00ff;
	;margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: #a6ff06;
}

#puremathcombi{
	text-align:justify; 
	background-color:#356433; 
	font:bold 12px monospace;
	width:885px;
	height: 340px; 
	padding-left:10px
	;border:3px outset #eb00ff;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: #a6ff06;
}

#puremathtopo{
	text-align:justify;
	background-color:#356433;
	font:bold 12px monospace;
	width:885px;
	height: 270px; 
	padding-left:10px;
	border:3px outset #eb00ff;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: #a6ff06;
}

#puremathmathema{
	text-align:justify; 
	background-color:#356433; 
	font:bold 12px monospace;
	width:885px;
	height: 160px; 
	padding-left:10px;
	border:3px outset #eb00ff;
	margin-top: 60px;
	margin-left: 220px;padding: 5px 10px;
	color: #a6ff06;
}

#puremathsource{
	margin-left:1120px
}

#appliedbody{
	background-image: url(purem.jpg);
	background-repeat: no-repeat;
	background-size:cover; 
	background-attachment:fixed;
}

#appliedhead1{
	color:#c7ff00; 
	background-color: #ff00bf; 
	text-align:center;
	font-size:70px; 
	margin-left: 220px;
	margin-top: 0px;margin-right: 220px;  
	margin-bottom: -40px;
	padding-bottom: 0px;
	font-family:monospace;
}

#appliedcalc{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;
	height: 290px; 
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: #6902ff;
}

#appliedstati{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;
	height: 170px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;margin-left: 220px;
	padding: 5px 10px;
	color: #6902ff;;
}

#appliedset{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;
	height: 230px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: #6902ff;;
}

#appliedtrig{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;
	height: 190px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: #6902ff;;
}

#appliedsource{
	margin-left:1120px;
}

#regheadone{
	color:green; 
	background-color: pink; 
	text-align:center;
	font-size:50px; 
	margin-left: 250px;
	margin-top: 0px;
	margin-right: 250px;  
	margin-bottom: -40px;
	padding-bottom: 0px;
	font-family:monospace;
}


#reghead3{
	color:red; 
	background-color: pink; 
	text-align:center;
	font-size:25px;
    margin-left: 250px;
	margin-top: 40px;
	margin-right: 250px;  
	margin-bottom: -40px;
	padding-bottom: 0px;
	font-family:monospace;
}

#regbody{
	background-image: url(quix.jpg);
	background-repeat: no-repeat;
	background-size:cover; 
	background-attachment:fixed;
}

#regform{
	width:60%;margin: auto; 
	border: 5px  solid; 
	padding: 5px 5px 50px 10px;
	margin-top: 50px;
	background-color: skyblue
}

#regdoc{
	float: left;
	background-color:pink;
	color:black; 
	margin-top:-20px;
	padding:0px 8px 2px ;
	margin-left: 80px ; 
	margin-top: -21px ; 
	padding-right: 10px;
	padding-left: 10px
}

#trigbody{
	background-image: url(pure.jpg);
}

#trigh2{
	color:red;font-size:40px;
	text-align: center; 
	margin-top: 0px;  
	margin-bottom: 30px;
	background-color: yellow; 
	padding-bottom: 0px;
	font-family: Courier;
	margin-left: 270px;
	margin-right: 280px
}

#trigtable{
	text-align: center;
	margin-left: 20%;
	height: 500px;
	width: 800px
}

#trigthead{
	font-size: 30px
}

#trigtbody{
	font-size: 23px
}

#trigtfoot{
	font-size:23px
}

#theorbody{
	background-image: url(thera.jpg);
	background-repeat: no-repeat;
	background-size:cover;
    background-attachment:fixed;
}

#theorhead1{
	color:#ff7800; 
	text-align:center;
	font-size:70px; 
	margin-left: 220px;
	margin-top: 0px;
	margin-right: 220px;  
	margin-bottom: -40px;
	padding-bottom: 0px;
	font-family:monospace;
}

#theorpyth{
	text-align:justify; 
	background-color:#81f210; 
	font:bold 12px monospace;
	width:870px;
	height: 170px; 
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: #133e13;
}

#theoreucl{
	text-align:justify; 
	background-color:#81f210; 
	font:bold 12px monospace;
	width:885px;
	height: 200px; 
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: #133e13;
}

#theorfunda{
	text-align:justify; 
	background-color:#81f210; 
	font:bold 12px monospace;
	width:885px;
	height: 170px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: #133e13;
}

#theorfour{
	text-align:justify; 
	background-color:#81f210; 
	font:bold 12px monospace;
	width:885px;
	height: 140px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: #133e13;
}

#theorsqr{
	text-align:justify; 
	background-color:#81f210; 
	font:bold 12px monospace;
	width:885px;
	height:170px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: #133e13;
}

#theorpi{
	text-align:justify; 
	background-color:#81f210;
	font:bold 12px monospace;
	width:885px;
	height: 140px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: v;
}

#theorlittle{
	text-align:justify; 
	background-color:#81f210; 
	font:bold 12px monospace;
	width:885px;
	height: 140px;
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: #133e13;
}

#theorlast{
	text-align:justify; 
	background-color:#81f210; 
	font:bold 12px monospace;
	width:885px;
	height: 140px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: #133e13;
}

#theorlaw{
	text-align:justify; 
	background-color:#81f210; 
	font:bold 12px monospace;
	width:885px;
	height: 170px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: #133e13;
}

#theorprime{
	text-align:justify; 
	background-color:#81f210; 
	font:bold 12px monospace;
	width:885px;
	height: 120px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: v;
}
#theorsource{
	margin-left:1130px;
}

#fambody{
	background-image:url(fama.jpg);
	background-repeat: no-repeat;
	background-size:cover; 
	background-attachment:fixed;
}

#famhead1{
	color:lime;  
	text-align:center;
	font-size:50px; 
	margin-left: 220px;
	margin-top: 0px;
	margin-right: 220px;  
	margin-bottom: -40px;
	padding-bottom: 0px;
	font-family:monospace;
}

#famsri{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;
	height: 245px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#fammaindiv{
	margin-left: 765px;
	margin-top: 10px
}

#famsrih{
	margin-top: -140px;
	color: purple
}

#famfirstp{
	margin-top: 20px;
	margin-right: 120px
}

#famsecondp{
	margin-right: 5px
}

#fampyth{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;
	height: 310px; 
	padding-left:5px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#fampythh{
	margin-top: -135px;
	color: purple
}

#famarya{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;
	height: 170px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#famaryah{
	margin-top: -110px;
	color: purple
}

#famalbert{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;
	height: 230px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#famalberth{
	margin-top: -130px;
	color: purple
}

#famarch{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;
	height: 260px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#famarchh{
	margin-top: -140px;
	color: purple
}

#famissac{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;
	height: 260px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px
	;margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#famissach{
	margin-top: -145px;
	color: purple
}

#famrene{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;
	height: 260px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#famreneh{
	margin-top: -115px;
	color: purple
}

#famera{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;height: 200px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#famerah{
	margin-top: -110px;
	color: purple
}

#famjohn{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;
	height: 180px; 
	padding-left:5px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#famjohnh{
	margin-top: -100px;color: purple
}

#famgeorg{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;
	height: 240px; 
	padding-left:10px;
	border:3px outset red
	;margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#famgeorgh{
	margin-top: -120px;
	color: purple
}

#famgeorge{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;height: 190px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#famgeorgeh{
	margin-top: -110px;
	color: purple
}

#famemmy{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;
	height: 280px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;color: green;
}

#famemmyh{
	margin-top: -140px;color: purple
}

#famever{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;
	height: 220px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green
}

#fameverh{

	margin-top: -125px;
	color: purple
}

#famsoph{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;
	height: 230px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#famsophh{
	margin-top: -140px;
	color: purple
}

#famsource{
	margin-left:1120px;
}

#epobody{
	background-image: url(ara.jpg);
	background-repeat: no-repeat;
	background-size:cover; 
	background-attachment:fixed;
}

#epohead1{
	color:#ff006c; 
	text-align:center;
	font-size:60px; 
	margin-left: 220px;
	margin-top: 0px;
	margin-right: 220px; 
	margin-bottom: -40px;
	padding-bottom: 0px;
	font-family:monospace;
}

#epocauchydiv{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:870px;
	height: 390px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px
	;padding: 5px 10px;
	color: green;
}

#epoimgcauchy{
	margin-left: 320px
}

#epochapdiv{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:885px;height: 260px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#epoimg1chap{
	margin-left: 320px
}

#epoimg2chap{
	margin-left: 210px
}

#epomaurerdiv{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:885px;
	height: 200px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#epoimgmaurer{
	margin-left: 280px
}

#epopelldiv{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:885px;
	height: 280px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#epoimgpell{
	margin-left: 280px
}

#epopoisdiv{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:885px;
	height: 140px;
    padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#eporiccatidiv{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:885px;
	height: 210px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#epoimgriccati{
	margin-left: 280px
}

#eposinediv{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:885px;
	height: 140px; 
	padding-left:10px;
	border:3px outset red;
	margin-top: 60px;
	margin-left: 220px;
	padding: 5px 10px;
	color: green;
}

#eposource{
	margin-left:1120px;
}

#seqbody{
	background-image: url(serq.jpg);
	background-repeat: no-repeat;
	background-size:cover; 
	background-attachment:fixed;
}

#seqhead1{
	color:#8bff00;  
	text-align:center;
	font-size:50px; 
	margin-left: 355px;
	margin-top: 0px;
	margin-right: 365px;  
	margin-bottom: -40px;
	padding-bottom: 0px;
	font-family:monospace;
}

#seqseqdiv{
	text-align:justify; 
	background-color:#ffeb54; 
	font:bold 12px monospace;
	width:650px;
	height: 620px; 
	padding-left:10px;
	border:3px outset red;
	margin-top:60px;
	margin-left: 324px;
	padding: 0px 10px;
	color: #840d0d;
}

#seqheadone{ 
	text-align: center
}

#seqhead2{
	color:#00abff;
	font-size:40px;
	text-align: center; 
	margin-top: 10px;  
	margin-bottom: 30px;
	background-color: #f7f317; 
	padding-bottom: 0px;
	font-family: Courier;
	margin-left: 560px;
	margin-right: 560px
}

#seqtable{
	text-align: center;
	margin-left: 20%;
	height: 500px;
	width: 800px;
	background-color: lime;
}

#seqthead{
	font-size: 30px
}

#seqtbody{
	font-size: 20px
}

#seqtfoot{
	font-size:23px
}

#seqdefdiv{
	text-align: center;
	color: yellow
}

#seqsource{
	margin-left:1150px;
	margin-top: 100px;
	color: white
}
